* {
  font-family: "Fira Sans", sans-serif;
}
/*header*/
header {
  background-color: rgb(31, 102, 150);
}

/*body*/
article {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*footer*/
footer {
  background-color: black;
  margin-top: -10px;
}
.btn {
  text-transform: uppercase;
  height: 25px;
  border-radius: 4px;
  background-color: rgb(31, 102, 150);
  color: white;
  border: none;
  animation: shaking 2s infinite;
}
@keyframes shaking {
  10% {
    transform: scale(1.05) rotate(5deg);
  }
  20% {
    transform: scale(1.05) rotate(-5deg);
  }
  30% {
    transform: scale(1.05) rotate(5deg);
  }
  40% {
    transform: none;
  }
}
/*form*/
form {
  background-color: rgb(51, 65, 92);
}
