* {
  font-family: "Arvo", serif;
}

/*header*/
header {
  background-color: $primary-color;
}
/*navbar*/
.navbarlogo {
  margin-right: 15px;
}
.navbarpages {
  text-align: center;
}

/*footer*/
footer {
  background-color: $secundary-color;
  margin-top: -10px;
}
.btn {
  text-transform: uppercase;
  height: 25px;
  border-radius: 4px;
  background-color: $primary-color;
  color: white;
  border: none;
  animation: shaking 2s infinite;
}
@keyframes shaking {
  10% {
    transform: scale(1.05) rotate(5deg);
  }
  20% {
    transform: scale(1.05) rotate(-5deg);
  }
  30% {
    transform: scale(1.05) rotate(5deg);
  }
  40% {
    transform: none;
  }
}
